<div class="row justify-content-md-center">
<div class="col-sm-10 mt-5">
    <% if(!search) { %>
        <div class="alert alert-danger" role="alert">
            <span><b>Идентификатора &#8470; <%= id %> нет в нашей базе</b></span>
        </div>
    <% } %>
    <div class="alert alert-primary" role="alert">
        <span>Введите интересующий вас id в поиск</span>
    </div>
</div>
</div>