<div class="row justify-content-md-center">
<div class="col-sm-10 mt-5">
    <div class="alert alert-danger" role="alert">
        <span>Введите интересующий вас id в поиск</span>
    </div>
    <div class="alert alert-primary" role="alert">
        <span>Введите интересующий вас id в поиск</span>
    </div>
</div>
</div>